body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

.container-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tarjetas {
  width: 49%;
  padding: 10px 5px;
}

.header-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.6em;
  margin: 0;
}

.boton {
  display: flex;
}

.button-crear {
  background-color: #cc1f32;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

a.edita, a.deletea {
  display: inline-block;
  padding: 4px 7px;
  text-decoration: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  transition: background-color 0.3s ease;
}

a.edita {
  background-color: #4CAF50;
}

a.edita:hover {
  background-color: #45a049;
}

a.deletea {
  background-color: #f44336; 
}

a.deletea:hover {
  background-color: #d32f2f; 
}

a.edita:focus, a.deletea:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(21, 156, 228, 0.4);
}