body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card_container {
    background: #0000;
    width: 1300px;
    height: 500px;
    border-radius: 25px;
    position: relative;
    display: flex;
    display: -webkit-flex;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Encabezado del formulario */
.card_container h2 {
    font-weight: 700;
    font-size: 30px;
    padding: 6px 0 0;
    margin-bottom: 34px;
    font-family: Dubai medium;
}

/* Contenedor del formulario izquierdo */
.card_container .card_left {
    background: #CC1F32;
    border-radius: 25px;
    padding: 20px 40px;
    position: relative;
    width: 100%;
    color: #fff;
}

/* Estilos para los párrafos dentro del formulario izquierdo */
.text-info_uni {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
}

/* Contenedor de información */
.info-container {
    display: inline-block; 
    vertical-align: top; /* Alinea al principio del contenedor */
    margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para la imagen dentro del contenedor de información */
.info-container img {
    vertical-align: middle; /* Alinea verticalmente la imagen */
    margin-right: 20px; /* Margen derecho */
}

img {
    height: 130px;
    width: 120px;
    margin: 0;
    position: absolute;
    left: 160px;
    top: 260px;
}

.conteiner_button, .container_img {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.conteiner_button a {
    font-family: Helvetica;
    background: white;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    border: none;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none; 
    line-height: 35px;
    margin-top: 160px;
}

.conteiner_button a:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out;
}

.conteiner_button a:active {
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
}

/* ----------------------------- CARTA FORMULARIO ----------------------------- */

form {
    padding: 20px 40px;
    position: relative;
    width: 250%;
}

form h2 {
    font-size: 30px;
    padding: 5px;
    color: #CC1F32;
}

.conteiner_h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.form-container {
  display: flex;
  gap: 10px;
}

.form-container > :nth-child(1),
.form-container > :nth-child(2) {
  width: 50%;
  margin: 0 10px;
}

form .form-group {
    display: flex;
    display: -webkit-flex;
    margin: 0 -8px;
}

form .form-row {
    width: 100%;
    position: relative;
}

form .form-group .form-row {
    width: 50%;
    padding: 0 8px;
}

label {
    font-weight: 600;
    font-size: 15px;
    color: #666;
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 11.5px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #333;
    box-sizing: border-box;
    margin-bottom: 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input:focus {
    border: 1px solid #CC1F32;
}

select {
  width: 100%;
  padding: 11.5px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #333;
  box-sizing: border-box;
  margin-bottom: 27px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer; 
}

select option {
  padding: 10px 15px; 
  background-color: #fff; 
  color: #333; 
  border-bottom: 1px solid #eee; 
  cursor: pointer; 
}

select option:hover {
  background-color: #f9f9f9; 
  color: #333; 
  cursor: pointer; 
}

select:focus {
  border: 1px solid #CC1F32;
}

select::-ms-expand {
  display: none;
}

select::after {
  content: "\25BC";
  font-size: 8px;
  color: #333;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.button-register {
  font-family: Helvetica;
  background: #CC1F32;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

.button-register:hover { 
  transform: scale(1.1); 
  transition: transform 0.2s ease-in-out;
}

.button-register:active {
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}

/* Estilos responsivos */
@media screen and (max-width: 575px) {
    /* Cambios en la disposición de los elementos para pantallas pequeñas */
    .card_container form .form-group {
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        margin: 0;
    }
    /* Ajustes en la anchura y el espaciado de las filas del formulario */
    .card_container form .form-group .form-row.form-row-1 {
        width: 100%;
        padding: 0;
    }
    /* Ajustes en el margen inferior de las etiquetas del formulario */
    .card_container form .form-group label {
        margin-bottom: 5px;
    }
    /* Ajustes en el margen inferior de los campos de texto del formulario */
    .card_container form .form-group input {
        margin-bottom: 10px;
    }
}
