<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción de Monitores</title>
    <link rel="stylesheet" href="/public/css/estilos_monitor_funciones.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>

<body>
    <header>
        <h1>Monitorías Universitarias</h1>
        <p>Se denominarán Monitorías a todas las actividades de apoyo a la Universidad que desarrollen <br>
            los estudiantes de pregrado en las áreas de Docencia, Investigación, Administrativas o Especiales.</p>
    </header>
    <section>
        <aside>
            <h2 class="subtitle">Capacidades del Servicio de Monitorías</h2>
            <h1 class="title">Aprovecha al Máximo la Ayuda de Nuestros Monitores</h1>
            <p class="description">Descubre la amplia gama de servicios y apoyos que nuestros monitores ofrecen para mejorar tu experiencia académica, brindarte <br>
                soporte psicológico y ayudarte con tus gestiones universitarias.</p>
        </aside>
    </section>
    <div class="container">
        <div class="section">
            <div class="tag">Formación</div>
            <h2 class="title">Fortalecimiento Académico</h2>
            <p class="description">Contribuye al desarrollo académico de los estudiantes mediante tutorías personalizadas y apoyo en investigaciones.</p>
            <div class="features">
                <div class="feature">
                    <h3>Capacitación Pedagógica</h3>
                    <p>Desarrolla habilidades pedagógicas a través de cursos especializados.</p>
                </div>
                <div class="feature">
                    <h3>Asesorías Académicas</h3>
                    <p>Recibe orientación y apoyo en tus estudios de manos de estudiantes avanzados.</p>
                </div>
                <div class="feature">
                    <h3>Investigación</h3>
                    <p>Participa en proyectos de investigación y mejora tus competencias investigativas.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="tag">Apoyo</div>
            <h2 class="title">Asistencia y Orientación</h2>
            <p class="description">Proporciona apoyo en trámites universitarios y orientación psicológica para promover el bienestar estudiantil.</p>
            <div class="features">
                <div class="feature">
                    <h3>Gestión Administrativa</h3>
                    <p>Recibe ayuda en la gestión de tus trámites universitarios de manera eficiente.</p>
                </div>
                <div class="feature">
                    <h3>Soporte Psicológico</h3>
                    <p>Accede a apoyo emocional y psicológico en momentos de necesidad.</p>
                </div>
                <div class="feature">
                    <h3>Actividades Extracurriculares</h3>
                    <p>Participa en actividades que fomenten la solidaridad y el trabajo en equipo.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="tag">Servicios Adicionales</div>
            <h2 class="title">Apoyo Integral para los Estudiantes</h2>
            <p class="description">Además de las áreas académicas y de orientación, nuestros monitores también brindan asistencia en diversos aspectos de la vida estudiantil.</p>
            <div class="features">
                <div class="feature">
                    <h3>Diligencia de Libreta Militar</h3>
                    <p>Recibe asesoría y acompañamiento en el proceso de tramitación de tu libreta militar.</p>
                </div>
                <div class="feature">
                    <h3>Préstamo de Salones y Computadores</h3>
                    <p>Accede al préstamo de salones y equipos de cómputo para trabajos en grupo o proyectos académicos.</p>
                </div>
                <div class="feature">
                    <h3>Asistencia en Transporte</h3>
                    <p>Recibe orientación sobre las rutas de transporte público y opciones de movilidad dentro del campus universitario.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section-preguntas">
        <div class="tag">Preguntas Frecuentes</div>
        <h2 class="title">Resuelve tus dudas</h2>
        <div class="faq">
            <div class="question">
                <h3>¿Quién puede solicitar los servicios de monitoría?</h3>
                <p>Todos los estudiantes de pregrado de la universidad pueden acceder a los servicios de monitoría, sin importar su programa académico o nivel de estudios.</p>
            </div>
            <div class="question">
                <h3>¿Cuáles son los requisitos para ser monitor?</h3>
                <p>Para ser monitor, los estudiantes deben cumplir con ciertos requisitos académicos y demostrar habilidades de liderazgo, trabajo en equipo y compromiso con la institución.</p>
                <a href="https://vicebienestar.univalle.edu.co/desarrollo-humano-y-promocion-socioeconomica/fomento-al-empleo" target="_blank">Mas Info</a>
            </div>
            <div class="question">
                <h3>¿Cómo puedo solicitar una tutoría o asesoría académica?</h3>
                <p>Puedes solicitar una tutoría o asesoría académica a través de la plataforma en línea de monitorías o acudiendo personalmente a la oficina de monitorías de tu facultad.</p>
            </div>
        </div>
    </div>
    <button id="backButton">Regresar</button>
    <script>
        const backButton = document.getElementById('backButton');
        backButton.addEventListener('click', () => {window.history.back();});
    </script>
</body>
</html>